body {
  background-color: rgb(207, 228, 246);
  text-align: center;
}

#task {
  border-radius: 5px;
  padding: 8px 10px;
}
.form-button {
  background-color: #68a0d1;
  border-radius: 4px;
  color: white;
  padding: 2px 4px;
  min-width: 80px;
  margin: 1px 5px;
}

.taskContainer {
  border: 2px solid darkslategrey;
  margin: 5%;
  padding: 2%;
}

@media (max-width: 780px) {
  .task-list__container li {
    flex-wrap: wrap;
  }
}
