doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        form.addForm(action="/todo", method="POST")
            input(type="text", name="task")
            button(type="submit") Add Task

        section.taskContainer  
            if tasks.length > 0
                .grid   
                    each task in tasks 
                        section 
                            h1 #{task.task}
                            form.addForm(action=("/edit" + task.id), method="PUT")
                                input(type="text", name="editedTask")
                                button(type="submit") Edit Task

                            form.addForm(action=(`/todo/${task.id}`, method="DELETE")
                                button(type="submit") Delete Task


