doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        style
            include ./../styles.css
    body 
        form(action="/todo", method="post")
            input(type="text", name="task" id="task" placeholder="Task description")
            button(type="submit" class="form-button") Add Task

        section.taskContainer  
            if tasks.length > 0
                .grid
                    each task in tasks 
                        section 
                            h2 #{task.task}
                            form(action=("/todo/" + task.id + "?_method=PUT"), method="post")
                                input(type="text", name="task" placeholder="Edit task description")
                                button(type="submit" class="form-button") Edit Task

                            form(action=("/todo/" + task.id + "?_method=DELETE"), method="post")
                                button(type="submit" class="form-button") Delete Task
            if tasks.length == 0
                p No Tasks

